/* Contractor.css */

.BG-container {
  height: 100vh;
}

.contractor-container {
  max-width: 600px;
  margin: 0 auto;
}

.form-field {
  margin-bottom: 15px;
  font-family: "Inter-Regular", Helvetica;
}

.input-container {
  position: relative;
}

.input1 {
  width: calc(100% - 20px);
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Inter-Regular", Helvetica;
}

.error-message {
  position: absolute;
  bottom: -20px;
  margin-left: 40px;
  margin-bottom: 5px;
  color: red;
  font-size: 12px;
}

.button1 {
  background-color: #7d4bdb;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 50px;
}
