/* Contractor.css */
.contractor-container {
  
  padding: 0.1px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%; /* Use percentage for width */
  height: 100vh; /* Use viewport height for height */
}

.form-field {
  margin-bottom: 15px;
  font-family: Arial;
  font-size: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input1 {
  width: 80%; /* Reduce this to make the input field narrower */
  padding: 8px 15px; /* Increase this to make the input field wider */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 25px;
  font-family: "Times New Roman"; /* Add this line to change the font */
  margin: 0 auto; /* Center the input field */
  display: block; /* Needed for margin: 0 auto to work */
}

button {
  background-color: #83793acc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  height: 5vh; /* Relative to viewport height */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition effect */
}

