:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
  position: relative; /* Ensure the parent container has a position property */
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 100%; /* Use percentage for width */
  height: 100vh; /* Use viewport height for height */
  margin: 0 auto;
  font-size: 0px;
  background: linear-gradient(180deg, #80859a, rgba(200, 177, 115, 0.499));
  overflow: hidden;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%; /* Use percentage for width */
  height: auto; /* Let the browser calculate the height */
  margin: 10vh auto; /* Use viewport height for top margin, auto for right and left to center the element */
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 4vw; /* Use viewport width for font size */
  font-weight: 400;
  line-height: 1.2; /* Use unitless value for line height */
  text-align: center;
  white-space: nowrap;
  z-index: 15;
  margin-bottom: 2vh;
  margin-top: 15vh;
}

.to-our-platform {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%; /* Use percentage for width */
  height: auto; /* Let the browser calculate the height */
  margin: 2vh auto; /* Use viewport height for top margin, auto for right and left to center the element */
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 4vw; /* Use viewport width for font size */
  font-weight: 400;
  line-height: 1.2; /* Use unitless value for line height */
  text-align: center;
  white-space: nowrap;
  z-index: 14;
}

.please-sign-up {
  display: block;
  position: relative;
  height: auto; /* Let the browser calculate the height */
  margin: 10vh 0 0 26vw; /* Use viewport units for top and left margins */
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 3vw; /* Use viewport width for font size */
  font-weight: 400;
  line-height: 1.2; /* Use unitless value for line height */
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.rectangle {
  display: block; /* Each rectangle will take up its own line */
  position: relative;
  width: 50%; /* Use percentage for width */
  height: 5%; /* Let the browser calculate the height */
  margin: 2vh auto; /* Use viewport height for top margin, auto for right and left to center the element */
  cursor: pointer;
  background: #83793acc;
  border: none;
  z-index: 10;
  border-radius: 5vw; /* Use viewport width for border radius */
}

.arrow-right {
  position: absolute;
  width: 28px; /* Fixed width */
  height: 28px; /* Fixed height */
  top: 50%;
  right: 0; /* Position at the right edge of the box */
  background: url(../images/right_arrow.svg) no-repeat center;
  background-size: cover;
  transform: translateY(-50%); /* Center vertically */
  z-index: 12;
  overflow: hidden;
}

.sign-up {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: calc(50% - 9.5px);
  left: calc(50% - 27px);
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}

.to-access-data {
  display: block;
  position: relative;
  height: 19px;
  margin: 76px 0 0 26%;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 3vw;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}

.customer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 46px);
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: calc(50% - 12px);
  left: 55px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.rectangle-1 {
  position: relative;
  width: 280px;
  height: 60px;
  margin: 20px 0 0 0px;
  cursor: pointer;
  background: rgba(0, 5, 113, 0.8);
  border-radius: 24px;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: calc(50% - 12.23px);
  left: 55px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.contractor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 51px);
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}

.data {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: calc(50% - 12.23px);
  left: 55px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.data-3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 22px);
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}

.sign-out-button {
  position: absolute;
  top: 20px; /* Adjust top position */
  left: 20px; /* Adjust left position */
  padding: 5px 10px; /* Adjust padding for smaller button */
  font-size: 14px; /* Adjust font size */
}

.title-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  margin-bottom: 0px;
}

.help-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 40px 0; /* Adjust margin as needed */
}

.line {
  flex-grow: 1; /* Lines grow to fill space */
  height: 1px;
  background-color: #ffffff; /* Color of the line */
  margin: 0 20px; /* Spacing between text and line */
}

.help-text {
  white-space: nowrap;
  padding: 0 10px; /* Adjust padding as needed */
  color: #ffffff; /* Color of the text */
  font-size: 14px; /* Adjust font-size as needed */
  position: relative;
  top: -1px; /* Ensures the text overlays the line correctly */
  font-family: Inter, var(--default-font-family);
  font-size: 4vw; /* Use viewport width for font size */
  font-weight: 200;
}


.scroll-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  overflow-y: auto; /* Enable vertical scrolling */
  height: 300px; /* Adjust to desired scroll area height */
  margin: 20px 0; /* Vertical spacing */
  padding: 10px; /* Padding inside the scroll container */
  border-radius: 5px; /* Rounded corners for scroll container, if you still want rounded corners without border */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and newer browsers that use webkit style references */
}

.scroll-button {
  padding: 10px; /* Padding inside each button */
  margin-bottom: 10px; /* Spacing between buttons */
  background-color: #fff; /* Background color for buttons */
  cursor: pointer;
  border: 1px solid transparent; /* Makes borders invisible */
  border-radius: 5px; /* Rounded corners for buttons */
  color: #000; /* Set the text color to black */
  font-family: Inter, var(--default-font-family);
}


/* Style the scrollbar for WebKit browsers */
.scroll-container::-webkit-scrollbar {
  display: none; /* This will hide the scrollbar in WebKit browsers */
}
