/* ShowData.css */
.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.1px;
  height: 100vh;
  background: linear-gradient(180deg, #80859a, rgba(200, 177, 115, 0.499));
}

.data-card {
  flex: 0 0 auto;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border: none;
  width: 95%;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.data-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-height: 91vh;
  overflow-y: auto;
}

.data-image {
  border-radius: 10px 0px 0px 10px;
  margin-right: 20px;
  width: 130px; /* adjust as needed */
  height: 130px; /* adjust as needed */
}

.data-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
}

.data-card strong {
  margin-bottom: 5px;
  color: #333;
}

.data-card .data-value {
  margin-bottom: 10px;
  color: #666;
  text-align: center;
}

.title-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.title-search-container_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.title-search-container input {
  width: 60%; /* adjust as needed */
  height: 50px; /* adjust as needed */
  border-radius: 12px; /* adjust as needed */
  padding: 0 20px; /* adjust as needed */
  font-size: 20px; /* adjust as needed */
  border: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  font-family: "Times New Roman";
}

.title-search-container select {
  width: 30%; /* adjust as needed */
  height: 40px; /* adjust as needed */
  border-radius: 12px; /* adjust as needed */
  padding: 0 20px; /* adjust as needed */
  font-size: 20px; /* adjust as needed */
  border: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  font-family: "Times New Roman";
  appearance: none; /* remove default select arrow */
  background: url('data:image/svg+xml;utf8,<svg fill="black" viewBox="0 0 140 140" width="50" height="50" xmlns="http://www.w3.org/2000/svg"><path d="M35 55l35 35 35-35z"/></svg>')
    no-repeat;
  background-position-x: 95%; /* position the custom arrow on the right */
  background-position-y: 50%;
  background-color: white;
  background-size: 20px;
  margin-top: 30px; /* adjust as needd */
}
