
.BG-container {
  height: 100vh;
}

.user-container {
  max-width: 600px;
  margin: 0 auto;
}

.form-field {
  margin-bottom: 15px;
}

.input-container {
  position: relative;
}

.input1 {
  width: calc(100% - 20px);
}

.error-message {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: red;
  font-size: 12px;
}

.form-field {
  margin-bottom: 15px;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input1 {
  width: 80%;
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 25px;
  font-family: "Inter-Regular", Helvetica;
  margin: 0 auto;
  display: block;
}

.button {
  background-color: #7D4BDB;
  color: #FFFFFF;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 40px;
}
