.frame {
  position: relative;
  width: 100%; /* Use percentage for width */
  height: 100vh; /* Use viewport height for height */
  margin: 0 auto;
  font-size: 0px;
  background: linear-gradient(180deg, #80859a, rgba(200, 177, 115, 0.499));
  overflow: hidden;
}

.frame .input-field2 {
  background-color: transparent;
  border: transparent;
  text-align: center;
  font-size: 20px;
  font-family: "Inter-Regular", Helvetica;
  border-radius: 8px;
  height: 45px;
  position: relative;
  left: 50%;
  top: 7%;
  width: 100%;
  transform: translate(-50%, -50%);
  margin: 20px 0;
}

.frame .blocks-container {
  display: flex;
  justify-content: space-between;
  width: 60%; /* Adjust as needed */
  position: relative;
  top: 18%; /* Center vertically */
  left: 22%;
  transform: translateX(-50%);
  margin: 20px 0;
}

.frame .element1 {
  background-color: #ffffffcc;
  border-radius: 8px;
  height: 45px; /* Consider making this relative as well */
  position: relative;
  left: 50%; /* Center horizontally */
  top: 20%; /* Center vertically */
  width: 13%;
  transform: translate(-50%, -50%); /* Necessary for centering */
  margin: 20px 0;
}

.frame .text-wrapperr {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 17px;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
}

.frame .text-wrapperr-2 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 4vw; /* Relative to viewport width */
  font-weight: 400;
  height: 3vh; /* Relative to viewport height */
  left: 18%; /* Relative to parent width */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11%; /* Relative to parent height */
}

.frame .overlapp {
  background-color: #83793acc;
  border-radius: 24px;
  height: 5vh; /* Relative to viewport height */
  left: 22%; /* Relative to parent width */
  position: absolute;
  top: 30%; /* Relative to parent height */
  width: 50%; /* Relative to parent width */
  transform: translateY(-50%); /* Center vertically */
}

.frame .text-wrapperr-3 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 3vw; /* Relative to viewport width */
  font-weight: 400;
  height: 2vh; /* Relative to viewport height */
  left: 50%; /* Center horizontally */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 50%; /* Center vertically */
  white-space: nowrap;
  transform: translate(-50%, -50%); /* Center the text */
}
